.home-container {
  padding: 20px 10px 121px 10px;
}

.home-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00285f;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.home-image-container img {
  padding: 62px 28px 35px 28px;
}

.home-content-container {
  margin: 0;
  text-align: center;
}

.home-content-container h1 {
  font-size: 22px;
  padding: 0px 20px 13px 20px;
}

.home-content-container p {
  font-size: 14px;
  font-weight: 400;
  padding: 0px 29px 51px 20px;
  margin: 0;
}

.home-btn-catalog {
  background-color: #e5e5e5;
  width: 300px;
  height: 123px;
  border-radius: 10px;
  margin: 20px 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-btn-catalog button {
  width: 174px;
  height: 40px;
  margin: 28px 60px 10px 60px;
  font-size: 14px;
}

.home-btn-catalog p {
  font-size: 18px;
  color: #585858;
  margin: 0 50px;
}

@media (min-width: 576px) {
  .home-banner {

  }
}
