.catalog-card-container {
    width: 300px;
    height: 347px;
    border-radius: 10px;
    background-color: #EDEDED;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-image-container {
    padding: 14px 36px 8px 43px;
}

.catalog-image-container img {
    width: 225px;
    height: 165px;
}

.catalog-content-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.catalog-content-container {
    width: 264px;
    height: 105px;
}

.catalog-content-container h1 {
    font-size: 18px;
    text-align: center;
    color: #000;
}

.catalog-content-container p {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: #585858;
    text-align: left;
    margin: 14px 0 0 0;
    height: 38px;
}

.btn-model button {
    height: 40px;
    background-color: #00285F;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    width: 258px; 
}

