.search-btn-container {
    height: 86px;
    background-color: #EDEDED;
    border-radius: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 10px;
    padding-right: 15px;
    min-width: 276px;
}

.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-container input, .search-container input:focus {
    background-color: #fff;
    width: 80%;
    height: 40px;
    padding-left: 12px;
    padding-right: 0.1px;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;
    border: 0 none;
    outline: 0;
}

.btn-model {
    width: 36%;
    height: 40px;
}